useDynLib( BDgraph, .registration = TRUE )

importFrom( "igraph", "layout.circle" )

export( bdgraph,
		bdgraph.mpl,
		bdgraph.ts,

		transfer,
		plinks,
		select,
		pgraph,
		graph.sim,
		bdgraph.sim,
		bdgraph.npn,
		compare,

		plotcoda,
		traceplot,
		plotroc,
		
		rgwish,
		rgcwish,
		rwish,
		gnorm,
		rmvnorm,
		
		print.bdgraph, 
		plot.bdgraph, 
		summary.bdgraph,
		print.sim, 
		plot.sim,
		
		detect_cores
	   )

S3method( "summary", "bdgraph" )
S3method( "plot"   , "bdgraph" )
S3method( "print"  , "bdgraph" )
S3method( "plot"   , "sim" )
S3method( "print"  , "sim" )
S3method( "plot"   , "graph" )
