useDynLib( BDgraph, .registration = TRUE )
import( "Matrix" )

importFrom( "grDevices", "dev.new" )
importFrom( "igraph", "graph.adjacency", "plot.igraph", "layout.circle" )

importFrom( "igraph", "make_undirected_graph", "max_cliques" )

importFrom( "graphics", "abline", "matplot", "par", "plot", "points", "text", "title", "legend" )
		    
importFrom( "stats", "cor", "sd", 
			"rnorm", "pnorm", "qnorm", 
			"rbinom", "qbinom", 
			"qexp", "qpois",
		    "rchisq", "runif", "smooth.spline" )
		    
importFrom( "utils", "flush.console", "read.table", "object.size" )

export( bdgraph,
		bdgraph.mpl,
		bdgraph.ts,

		transfer,
		plinks,
		select,
		pgraph,
		bdgraph.sim,
		bdgraph.npn,
		compare,

		plotcoda,
		traceplot,
		plotroc,
		
		rgwish,
		rgcwish,
		rwish,
		gnorm,
		rmvnorm,
		
		print.bdgraph, 
		plot.bdgraph, 
		summary.bdgraph,
		print.sim, 
		plot.sim,
		
		detect_cores
	   )

S3method( "summary", "bdgraph" )
S3method( "plot"   , "bdgraph" )
S3method( "print"  , "bdgraph" )
S3method( "plot"   , "sim" )
S3method( "print"  , "sim" )
